---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import heroDecorationTop from '../assets/decorations/heroDecorationTop.svg'
import heroDecorationRight from '../assets/decorations/heroDecorationRight.svg'
import heroDecorationBottomRight from '../assets/decorations/heroDecorationBottomRight.svg'
import paperPlaneWithBlackDots from '../assets/decorations/paperPlaneWithBlackDots.svg'
import bottomKidPuzzle from '../assets/decorations/vision/bottomKidPuzzle.png'
import topKidPuzzle from '../assets/decorations/vision/topKidPuzzle.png'
import airBaloon from '../assets/decorations/vision/airBaloon.svg'
import hands from '../assets/decorations/vision/hands.svg'import communityGallery from '../assets/communityGallery.png'
import facilityTicker1 from '../assets/facility/ticker/5.png'
import facilityTicker2 from '../assets/facility/ticker/2.png'
import facilityTicker3 from '../assets/facility/ticker/3.png'
import facilityTicker4 from '../assets/facility/ticker/4.png'
import facilityTicker5 from '../assets/facility/ticker/6.png'
import facilityTicker6 from '../assets/facility/ticker/7.png'
import facilityTicker7 from '../assets/facility/ticker/8.png'
import facilityTicker8 from '../assets/facility/ticker/9.png'
import facilityTicker10 from '../assets/facility/ticker/10.png'
import Testimonial from "../components/templates/Testimonial3/Testimonial.astro"
import admissionBanner from '../assets/admissionBanner.jpeg';
import heart from '../assets/decorations/vision/heart.svg'
import rainbow from '../assets/decorations/vision/rainbow.svg'
import yellowCloud from '../assets/decorations/vision/yellowCloud.svg'
import starFootNote from '../assets/decorations/vision/starFootNote.svg'


---

<Layout title="Food app">
	<main>
		<Header />
	</main>
</Layout>

<style>
	main{
		width: 100%;
		height: 100vh;
		background-image: url('https://images.unsplash.com/photo-1707344088547-3cf7cea5ca49?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-size: cover;
		background-position: center;
	}
	
</style>
